// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.left-calendar {
    display: flex;
    justify-content: flex-end;
}

.scroll-y {
    overflow-y: auto; /* Display a vertical scrollbar when needed */
    height: 50%;
}

.star {
    color: red;
}

.bg-font {
    border: 0;
    background: transparent;
}
